.ad-app {
    
    &__intro {
        position: relative;
        padding: 90px 0 0 0;
        width: 100%;
        height: 457px;
        background: #2b3a4a url('../img/p/p-bg-intro-mobile.jpg') no-repeat 0 0;
        overflow: hidden;
		box-sizing: border-box;
    }
    &__descr {
        display: block;
        margin: 0 auto;
		font: 300 2.4rem/2.4rem @font;
        color: @color-main;
        text-align: center;
        opacity: .6;
    }
    &__smartphone{
        position: absolute;
        left: 0;
        bottom: -28px;
		width: 320px;
		height: 313px;
		background: transparent url('../img/p/p-iphone-hand-mobile@1x.png') no-repeat 50% 50%;
    }
    &__download {
        padding: 27px 0 30px;
        background-color: @color-third;
        box-sizing: border-box;
    }
    &__download-link {
        display: block;
        margin-bottom: 30px;
        padding: 16px 0 17px;
		font: 700 1.8rem/1.8rem @font;
        text-decoration: none;
        color: @color-main;
        text-align: center;
        border: 3px solid @color-main;
        border-radius: 27px;
    }
    &__systems {
    
    }
    &__img-systems {
        margin-bottom: 23px;
        font-size: 0;
    }
    &__list-systems {
        text-align: center;
    }
    &__list-item{
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 46px;
        height: 57px;
        margin-right: 33px;    
        &:last-child {
            margin-right: 0;
        }
        img{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__systems-descr{
		font: 300 1.4rem/2.4rem @font;
        color: @color-main;
        text-align: center;
        opacity: .6;
    }
	@media (min-width: 700px) {
		position: relative;
		& .container {
			width: 320px;
		}
			&__intro {
				padding: 200px 0 0;
       			height: 729px;
        		background-image:  url('../img/p/p-bg-intro-tablet@1x.jpg');
				background-position: 50% 50%;
    		}
    		&__descr {
        		display: inline-block;
        		margin: 0 0 0 90px;
				width: 200px;
				font: 300 4rem/5.4rem @font;
        		opacity: 1;
    		}
    		&__download {
        		position: absolute;
				top: 378px;
				left: 30px;
				padding: 0;
       			background-color: transparent;
    		}
    		&__download-link {
				margin: 0 auto 45px;
				width: 282px;
        
    		}
   			&__img-systems {
        		margin-bottom: 40px;
    		}
    		&__systems-descr{
				font: 300 1.8rem/2.4rem @font;
    		}
    		&__smartphone{
        		top: 184px;
        		bottom: auto;
				width: 700px;
				height: 545px;
				background-image: url('../img/p/p-iphone-hand-tablet@1x.png');
    		}
		
		} 
	@media (min-width: 1200px) {
		    position: relative;
		    & .container {
			    width: 300px;
		    }
			&__intro {
				padding: 214px 0 0;
       			height: 853px;
        		background-image:  url('../img/p/p-bg-intro-desktop.jpg');
                background-size: cover;
    		}
    		&__descr {
        		display: inline-block;
        		margin: 0 0 0 155px;
				width: 250px;
				font: 300 5rem/6.6rem @font;
    		}
    		&__download {
        		position: absolute;
				top: 450px;
				left: 130px;
    		}
    		&__download-link {
				margin: 0 auto 66px;
		        font: 700 2.1rem/2.1rem @font;
                width: 100%;
                box-sizing: border-box;
    		}
   			&__img-systems {
        		margin-bottom: 60px;
    		}
    		&__smartphone{
        		top: auto;
        		bottom: 0;
                right: 0;
                left: auto;
				width: 1050px;
				height: 645px;
				background-image: url('../img/p/p-iphone-hand-desktop@1x.png');
    		}
	} 
}