.app-form {
    background-color: @color-second;
    text-align: center;
    &__header {
		font: 400 1.4rem/1.8rem @font;
        color: @color-fifth;
        text-transform: uppercase;
    }
    &__units {
    
    }
    &__unit {
        text-align: left;
    }
    &__label {
        span {
            
        }
    }
    &__checked{
        
    }
    &__radio-btn {
        display: none;
    }
}