.custom-input {
	padding: 20px 0 9px;
	font-size: 0;
    &--mod {
        padding: 27px 0 16px;
    }
	&__btn-minus {
		display: inline-block;
		vertical-align: top;
		width: 60px;
		height: 62px;
		box-sizing: border-box;
		outline: none;
        border: 2px solid @color-gray;
		border-right: none;
		border-radius: 3px 0 0 3px;
		background: @color-main url('../img/i/i-minus.png') no-repeat 50% 50%;
		cursor: pointer;
	}
	&__btn-plus {
		display: inline-block;
		vertical-align: top;
		width: 60px;
		height: 62px;
		box-sizing: border-box;
		outline: none;
		border: none;
		background-color: @color-main;
        border: 2px solid @color-gray;
		border-left: none;
		border-radius: 0 3px 3px 0;
		background: @color-main url('../img/i/i-plus.png') no-repeat 50% 50%;
		cursor: pointer;
	}
	&__input-text {
		display: inline-block;
		vertical-align: top;
        padding: 14px 22px;
        width: 160px;
		font: 400 1.8rem/3rem @font;
        color: @color-third;
		text-align: center;
        box-sizing: border-box;
        border: 2px solid @color-gray;
        &::-webkit-input-placeholder {
           color: @color-third;
        }
		&--mod {
			background-color: @color-second;
		}
	}
}