.dates-travel {
	padding: 40px 0 40px;
	text-align: center;
	&__descr {
		margin: 0 0 30px 0;
		font: 400 1.4rem/3rem @font;
		color: @color-fifth;
		text-transform: uppercase;
	}
	&__item {
	
	}
	&__input-text {
        display: block;
        margin: 0px 0 5px 0;
        padding: 15px 20px;
        width: 100%;
		font: 400 1.8rem/3rem @font;
        color: @color-third;
        box-sizing: border-box;
        border: 2px solid #e5e5e5;
        border-radius: 3px;
        &::-webkit-input-placeholder {
           color: @color-third;
        }
	}
	&__label {
        display: block;
        padding: 0 22.5px 5.5px 22.5px;
        box-sizing: border-box;
		font: 400 1.4rem/3rem @font;
        color: @color-fifth;
        text-transform: uppercase;
	}
}