.developed-info {
	margin: 0 0 46px 0;
	font-size: 0;
	text-align: center;
	&__descr {
		display: inline-block;
		vertical-align: top;
		margin: 0 15px 0 0;
		padding: 8px 0 0 0;
        font: 400 1.4rem/1.8rem  @font;
		color: @color-third;
	}
	&__logo {
		display: inline-block;
		vertical-align: bottom;
		width: 27px;
		height: 34px;
		background: transparent url('../img/i/i-academy.png') no-repeat 50% 50%;
	}
}