.info-company {
    background-color: @color-main;
    &__contacts {
        padding: 46px 0 0;
        text-align: center;
    }
    &__contacts-header {
        margin: 0 0 38px;
		font: 300 2.4rem/2.6rem @font;
        color: @color-fourth;
    }
    &__contact{
        margin: 0 0 26px;
    }
    &__contact-header {
        margin: 0 0 8px;
		font: 700 1.8rem/1.8rem @font;
        color: @color-fourth;
    }
    &__contact-option {
		font: 300 2.4rem/2.6rem @font;
        color: @color-fifth;
    }
	&__mailto-link {
		font: 300 2.4rem/2.6rem @font;
        color: @color-fifth;
		text-decoration: none;
		&:hover {
			color: @color-fourth;
			text-decoration: underline;
		}
		&:active {
			opacity: .3;
			text-decoration: none;
		}
    }
    &__location {
        text-align: center;
    }
    &__location-address {
        
    }
    &__map {
        position: relative;
        overflow: hidden;
        height: 215px;
        background: @color-second url('../img/p/p-map.jpg') no-repeat 0 100%;
        text-align: center;
    }
    &__map-triangle {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 49px;
        background: transparent url('../img/p/p-map-triangle.png') no-repeat 0 100%;
    
    }
    &__map-btn {
        position: absolute;
        left: 50%;
        bottom: 68px;
        transform: translateX(-50%);
        display: block;
        width: 16px;
        height: 16px;
        background-color: @color-fifth;
        border: 10px solid @color-main;
        border-radius: 50%;
    }
    @media (min-width: 700px) {
        &__contacts {
            padding: 42px 0 0;
        }
        &__contacts-header {
            margin: 0 0 45px;
		    font: 300 4rem/5rem @font;
        }
        &__contact-wrap {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            width: 560px;
        }
        &__contact{
            display: block;
            margin: 0 0 51px;
            width: 240px;
            &:last-child {
                margin: 0 0 27px;
                width: 100%;
            }
        }
        &__contact-header {
            margin: 0 0 9px;
            &--mod {
                margin: 0 0 11px;
            }
        }
        &__map {
            height: 378px;
            background: @color-second url('../img/p/p-map-tablet.jpg') no-repeat 0 73%;
        }
        &__map-triangle {
            height: 72px;
            background: transparent url('../img/p/p-map-triangle-tablet.png') no-repeat 0 100%;
        }
        &__map-btn {
            bottom: 145px;
        }
    }
    @media (min-width: 1200px) {
        &__contacts {
            padding: 64px 0 0;
        }
        &__contacts-header {
            margin: 0 0 59px;
		    font: 300 5rem/6rem @font;
        }
        &__contact-wrap {
            flex-wrap: nowrap;
            width: 885px;
        }
        &__contact{
            display: block;
            margin: 0;
			width: 244px;
            &:nth-child(2) {
                order: 3;
            }
            &:last-child {
                margin: 0;
                width: auto;
                order: 2;
            }
        }
        &__contact-header {
            margin: 0 0 26px;
        }
		&__contact-option {
			font: 300 2.4rem/2.9rem @font;
		}
		&__mailto-link {
		font: 300 2.4rem/2.9rem @font;
    }
        &__map {
            height: 522px;
            background: @color-second url('../img/p/p-map-desktop.jpg') no-repeat 0 57%;
        }
        &__map-triangle {
            height: 122px;
            background: transparent url('../img/p/p-map-triangle-desktop.png') no-repeat 0 100%;
        }
        &__map-btn {
            bottom: 203px;
        }
    
    }
}