.initials {
    padding: 0 0 26px 0;
    &__unit {
        text-align: left;
    }
    &__label {
        display: block;
        padding: 0 22px 5px 22px;
        width: 100%; 
        box-sizing: border-box;
		font: 400 1.4rem/3rem @font;
        color: @color-fifth;
        text-transform: uppercase;
    }
    &__input-text {
        margin: 0 0 15px 0;
        padding: 15px 20px;
        width: 100%;
		font: 400 1.8rem/3rem @font;
        color: @color-third;
		outline: none;
        box-sizing: border-box;
        border: 2px solid @color-gray;
        border-radius: 3px;
        &::-webkit-input-placeholder {
           color: @color-third;
        }
		&:hover {
			border-color: @color-fourth;
		}
		&:focus {
			border-color: @color-fifth;
		}
    }
    @media (min-width: @vw-m) {
        padding: 0 0 2px 0;
        &__unit {
            text-align: left;
        }
        &__label {
            display: block;
            padding: 0 22px 5px 22px;
            width: 100%; 
            box-sizing: border-box;
            font: 400 1.4rem/3rem @font;
            color: @color-fifth;
            text-transform: uppercase;
        }
        &__input-text {
            margin: 0 0 15px 0;
            padding: 15px 20px;
            width: 100%;
            font: 400 1.8rem/3rem @font;
            color: @color-third;
            box-sizing: border-box;
            border: 2px solid @color-gray;
            border-radius: 3px;
            &::-webkit-input-placeholder {
               color: @color-third;
            }
        }
    
    }
    @media (min-width: @vw-l) {
        padding: 0;
        &__unit {
            display: inline-block;
            vertical-align: top;
            margin: 0 19px 0 0;
            width: 298px;
            text-align: left;
            &:last-child {
                margin: 0;
            }
        }
        &__label {
            display: block;
            padding: 0 22px 5px 22px;
            width: 100%; 
            box-sizing: border-box;
            font: 400 1.4rem/3rem @font;
            color: @color-fifth;
            text-transform: uppercase;
        }
        &__input-text {
            margin: 0 0 15px 0;
            padding: 15px 20px;
            width: 100%;
            font: 400 1.8rem/3rem @font;
            color: @color-third;
            box-sizing: border-box;
            border: 2px solid @color-gray;
            border-radius: 3px;
            &::-webkit-input-placeholder {
               color: @color-third;
            }
        }
    }
}