.main-header { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(28,38,48,.3);
    width: 100%;
    font-size: 0;
	&__wrap {
		margin: 0 auto;
    	width: 280px;
	}
    &__label{
        position: absolute;
        top: 21px;
        right: 22px;
		display: block;
        width: 50px;
        height: 24px;
        background: transparent url('../img/i/i-sprite-menu-btn.png') no-repeat 0 0;  
		cursor: pointer;
        z-index: 50;
		&:hover {
			background-position: -50px 0;  
		}
		&:active {
			background-position: -100px 0;  
		}
    }
	&__nav-wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 68px;
		display: none;
	}
	&__input {
		display: none;
        &:checked ~ .main-header__wrap {
			padding: 0 0 0 20px;
            width: 300px;
            background-color: @color-fourth;
            border-bottom: 1px solid #000;
        }
        &:checked ~ .main-header__nav-wrap {
            display: block;
        }
        &:checked ~ .main-header__wrap .main-header__label {
			width: 23px;
			height: 22px;
            background: @color-fourth url('../img/i/i-sprite-menu-btn.png') no-repeat -150px 0;
			&:hover {
				background-position: -173px 0;
			}
			&:active {
				background-position: -196px 0;
			}
        }
	}
	@media (min-width: 700px) {
		&__wrap {
			width: 620px;
		}
		&__nav-wrap {
       		top: 111px;
			}
		&__label {
			top: 44px;
			right: 40px;
			}
	&__input {
        &:checked ~ .main-header__wrap {
			padding: 0 0 0 40px;
            width: 660px;
        	}
        &:checked ~ .main-header__wrap .main-header__label {
            top: 45px;
            right: 40px;
        	}	
		}
	}
	@media (min-width: 1200px) {
		&__wrap {
			width: 940px;
		}
    	&__label{
        	display: none;
    	}
		&__nav-wrap {
        	position: absolute;
			top: 45px;
			left: auto;
			right: 129px;
			display: inline-block;
			text-align: right;
		}	
	} 
}