.main-nav {
    &__list {
    
    }
    &__item {
        display: block;
        text-align: center;
        border-bottom: 1px solid #000;
        border-top: 1px solid #485461;
        a {
            display: block;
            padding: 18px 0 13px;
			font: 700 1.8rem/3.2rem @font;
            color: @color-main;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            background: @color-fourth;
			&:hover {
				color: @color-fifth;
			}
			&:active {
				color: lighten(@color-fifth, 15%);
			}
        }
    }
	@media (min-width: @vw-m) {
		
	} 
	@media (min-width: @vw-l) {
		font-size: 0;
		&__item {
        	display: inline-block;
			vertical-align: top;
			margin: 0 69px 0 0;
			border: none;
			&:last-child {
				margin: 0;
			}
       			a {
					position: relative;
					padding: 0;
					font: 400 1.8rem/1.8rem @font;
					background-color: transparent;
					text-transform: capitalize;
					&:hover {
						color: @color-main;
					}
					&:hover:after {
						content: "";
						position: absolute;
						top: 26px;
						left: 0;
						right: 0;
						width: 100%;
						height: 2px;
						background-color: @color-main;
					}
					&:active {
						color: @color-main;
						opacity: .3;
					}
					&:active:after {
						opacity: 0;
					}
        	}
    }
	} 
}