.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;   
	display: none;
	text-align: center;
    width: 320px;
	box-shadow:  0px 7px  15px   #000101;
	z-index: 200;
	transform: translate(-50%,-50%);
    background-color: @color-main;
	&__title-box {
		padding: 42px 0 32px;
		background-color: @color-main;
	}
	&__btn-box {
		padding: 0 0 50px 0;
		&--mod {
			padding: 48px 0 50px 0;
			background-color: @color-second;
		}
	}
	&__header {
		margin: 0 0 30px 0;
        font: 400 1.8rem/2.4rem @font;
        color: @color-h3;
		
	}
	&__descr {
        font: 400 1.4rem/2.4rem @font;
        color: @color-fourth;
	
	}
	&__link {
		display: block;
		padding: 19px 0;
        font: 700 1.8rem/3rem @font;
		background-color: #2aab6d;
		color: @color-main;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 3px;
	}
}