.offers-slider {
    position: relative;
    padding: 66px 0 100px;
    background-color: @color-second;
    &__radio {
        display: none;
    }
    &__controls { 
        position: absolute;
        left: 50%;
        bottom: 45px;
        width: 62px;
        margin: 0 0 0 -31px;
        text-align: center;
    }
    &__controls-label {
        margin: 0 13px 0 0;
        display: inline-block;
        width: 5.5px;
        height: 5.5px;
        background-color: #bec2c7;
        border: 2.5px solid @color-second;
        border-radius: 50%;
        &:last-child {
            margin: 0;
            border-color: @color-fourth;
			background-color: @color-main;
        }
    }
    &__slides {
        background-color: @color-main;
        font-size: 0;
        white-space: nowrap;
        overflow: hidden;
    }
    &__slide {
        display: inline-block;
        vertical-align: top;
        border: 1.5px solid #e5e5e5;
        border-top: none;
        &:nth-child(2) {
            border: none;
            border-bottom: 1.5px solid #e5e5e5;
            .offers-slider__hit-label {
                display: block;
            }
        }
        
    }
    &__tariff {
        position: relative;
        padding: 19px 0;
        background-color: @color-fourth;
        text-align: center;
    }
    &__tariff-header {
		font: 700 1.8rem/3rem @font;
        color: @color-main;
        text-transform: uppercase;
    }
    &__tariff-price {
		font: 300 2.4rem/3rem @font;
        color: @color-main;
    }
    &__hit-label {
        position: absolute;
        top: -1px;
        left: -1px;
        display: none;
        width: 74px;
        height: 73px;
        background: transparent url('../img/i/i-label-hit.png') no-repeat 0 0;
        
    }
    &__edge-tariff {
    }
    &__list {
    
    }
    &__list-item {
        position: relative;
        border-bottom: 1.5px solid #e5e5e5;
        &:last-child {
            border-bottom: none;
        }
    }
    &__title-edge {
        margin:0 55px 0 22px;
        padding: 14px 0;
		font: 400 1.4rem/3rem @font;
        color: @color-fourth;
        text-transform: uppercase;
    	overflow: hidden;
    }
    &__track-yes {
        position: absolute;
        right: 18px;
        top: 50%;
        margin-top: -11px;
        width: 29px;
        height: 22px;
        background: transparent url('../img/i/i-yes.png') no-repeat 0 0;
    }
    &__track-no {
        position: absolute;
        right: 19px;
        top: 50%;
        margin-top: -13px;
        width: 26px;
        height: 26px;
        background: transparent url('../img/i//i-no.png') no-repeat 0 0;
        
    }
}