.page-logo {
    display: inline-block;
    vertical-align: top;
    margin: 22px 0 22px 20px;
    width: 74px;
    height: 23px;
    background: transparent url('../img/i/i-page-logo.png') no-repeat 50% 50%;
}