.page-logo {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin: 21.5px 0;
    width: 74px;
    height: 23px;
    background: transparent url('../img/i/i-page-logo.png') no-repeat 50% 50%;
}