.photos-form {
	background-color: @color-second;
    &__wrap {
        margin: 0 auto;
        width: 280px;
    }
	&__upload {
		padding: 29px 0 0 0;
		text-align: center;
	}
	&__header {
		font: 400 1.4rem/3rem @font;
		color: @color-fifth;
		text-transform: uppercase;
	}
	&__upload-btn {
	
	}
	&__label {
		display: block;
		margin: 27px 0 33px;
		padding: 15px 0 16px;
		font: 700 1.8rem/3rem @font;
        color: @color-third;
		box-sizing: border-box;
		border: 2px solid @color-gray;
		border-radius: 3px;
		background-color: @color-main;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			border-color: @color-fourth;
		}
		&:active {
			color: @color-main;
			background-color: @color-fourth;
		}
	}
	&__input-file {
		display: none;
	}
	&__attached {
		padding: 35px 0 6px 0;
		border-top: 2px solid @color-gray;
		font-size: 0;
	}
	&__item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 0 39px 20px 0;
		text-align: left;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	&__img-block {
		display: block;
		margin: 0 0 8px 0;
		width: 67px;
		height: 67px;
	}
	&__name-photo {
		font: 400 1.2rem/1.8rem @font;
        color: @color-third;
		text-transform: uppercase;
	}
	&__remove-photo {
		position: absolute;
		top: -17px;
		right: -17px;
		width: 34px;
		height: 34px;
		box-sizing: border-box;
		border: 2px solid @color-gray;
		border-radius: 50%;
		background: @color-main url('../img/i/i-chest.png') no-repeat 50% 50%;
		z-index: 100;
		cursor: pointer;
		&:hover {
			border-color: @color-fourth;
		}
		&:active {
			background-color: @color-fourth;
		}
	}
    @media (min-width: 700px) {
        position: relative;
        padding: 66px 0 0;
        background-color: @color-main;
        &__wrap {
            width: 620px;
            box-sizing: border-box;
            border: 2px solid @color-gray;
        }
        &__upload {
            padding: 14px 58px 7px;
        }
        &__header {
            position: absolute;
            top: 52px;
            left: 50%;
            padding: 0 27px;
            transform: translateX(-50%);
            background-color: @color-main;
        }
        &__upload-btn {

        }
        &__label {
            
        }
        &__input-file {
            display: none;
        }
        &__attached {
            margin: 0 58px;
            padding: 50px 0 42px 0;
        }
        &__item {
            margin: 49px 70px 0 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &--mod {
                margin: 16px 70px 0 0;
            }
        }
        &__img-block {
            width: 120px;
            height: 120px;
        }
        &__name-photo {
            font: 400 1.4rem/2.5rem @font;
        }
        &__remove-photo {
            top: -28px;
            right: -28px;
            width: 56px;
            height: 56px;
            background: @color-main url('../img/i/i-chest-big.png') no-repeat 50% 50%;
        }
    }
    @media (min-width: 1200px) {
        padding: 65px 0 0;
        &__wrap {
            width: 940px;
        }
        &__upload {
            padding: 14px 58px 7px;
        }
        &__header {
            top: 50px;
        }
        &__upload-btn {

        }
        &__label {
		    margin: 26px 0 33px;  
			padding: 17px 0;
            color: @color-main;
            background-color: @color-fifth;
			border: none;
        }
        &__input-file {
            
        }
        &__attached {
            margin: 0 58px;
            padding: 66px 0 28px 0;
        }
        &__item {
            margin: 0 55px 26px 0;
            &:nth-child(3n) {
                margin-right: 55px;
            }
            &:nth-child(5n) {
                margin-right: 0;
            }
            &--mod {
                margin: 0 55px 26px 0;
            }
        }
        &__img-block {
            margin: 0 0 9px 0;
        }
        &__name-photo {
        }
        &__remove-photo {
        }
    }
}