.travel-form {
    background-color: @color-main;
    &__descr {
        padding: 49px 0 34px;
        text-align: center;
    }
    &__descr-title {    
		font: 400 1.4rem/3rem @font;
        color: @color-third;
    }
    &__send {
    
    }
    &__submit {
    
    }
    &__required-field {
    
    }
}