.travel-form {
    background-color: @color-main;
    &__descr {
        padding: 46px 0 1px;
        text-align: center;
    }
    &__descr-title {    
		font: 400 1.4rem/3rem @font;
        color: @color-third;
    }
    &__send {
    	padding: 48px 0 56px 0;
    }
    &__submit {
    	display: block;
		margin: 0 0 36px 0;
		width: 100%;
		padding: 16px 0;
		font: 700 1.8rem/3rem @font;
        color: @color-main;
		text-transform: uppercase;
		background-color: #2aab6d;
		border: none;
		outline: none;
		border-radius: 3px;
		cursor: pointer;
    }
    &__required-field {
    	display: block;   
		font: 400 1.4rem/3rem @font;
        color: @color-third;
		text-transform: uppercase;
		text-align: center;
		span {
        color: @color-fifth;
			
		}
    }
}